:root {
	color-scheme: light dark;
	--font-color: light-dark(black, white);
	--link-color: light-dark(#0000ee, #8c8cff);
	--first-background-color: light-dark(white, black);
	--second-background-color: light-dark(#e1e1e1, #1e1e1e);
	--third-background-color: light-dark(#cacaca, #353535);
	--fourth-background-color: light-dark(#b1b1b1, #4e4e4e);
	--fifth-background-color: light-dark(#969696, #696969);
	--sixth-background-color: light-dark(#7a7a7a, #858585);

	--main-color: #FF8935;
	--accent-color: #35abff;

	--main-height: 90vh;
	--default-transition-duration: 300ms;
}


* {
	box-sizing: border-box;
}

input[type="submit"] {
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: textfield;
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}

label.required::after {
	content: " *";
	color: #e32;
	vertical-align: middle;
}

.no-text-select {
	/* iOS Safari */
	-webkit-touch-callout: none;
	/* Safari */
	-webkit-user-select: none;
	/* Konqueror HTML */
	-khtml-user-select: none;
	/* Old versions of Firefox */
	-moz-user-select: none;
	/* Internet Explorer/Edge */
	-ms-user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	user-select: none;
}

button {
	cursor: pointer;
}

table,
tr,
th,
td {
	border: 0.1rem solid black;
	border-collapse: collapse;
}

a,
a:visited {
	color: var(--link-color);
}

th,
td {
	padding: 0.5rem;
}

body {
	background-color: var(--first-background-color);
	color: var(--font-color);
}

header a {
	display: flex;
	align-items: center;
	justify-content: start;
}

header img {
	height: 2rem;
	margin-right: 1rem;
}

header h1 {
	margin: 0;
}

header>a {
	color: var(--main-color) !important;
	text-decoration: none;
}

main {
	padding: 1rem;
}

main>table {
	background-color: var(--second-background-color);
}

main>table thead {
	background-color: var(--third-background-color);
}

form {
	width: fit-content;
}

form .input-group {
	display: flex;
	align-items: flex;
	justify-content: space-between;
	padding: 0.25rem;
}

form .input-group>input,
form .input-group>textarea,
form .input-group>select {
	width: 50%;
	margin-left: 1rem;
}

form .input-group:last-child {
	justify-content: center;
}

form .input-group:last-child > * {
	margin: 1rem;
}